@media screen and (max-width: 1199px) {
  .classes {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .classes {
    padding-top: 0px;
  }

  .classes__title {
    margin-bottom: 50px;
  }

  .classes__list {
    display: flex;
    justify-content: space-between;
  }
  .classes__item {
    position: relative;
  }

  .classes__heading {
    position: absolute;

    width: 100%;
    height: 70px;
    left: 0px;
    bottom: 0px;

    padding-top: 27px;
    @include font(14px, 700, 1.143);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}
