.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  & .footer-contact {
    color: rgba(255, 255, 255, 0.6);
  }
  & .container {
    display: flex;
  }
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address {
  & .link {
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}
.footer-address {
  color: #ffffff;
}
.footer__right {
  margin-left: 70px;
  margin-top: 12px;
}
.footer-text-icon {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-list-icon {
  display: flex;
}
.footer-link-icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}
